	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/12/2019 18:54
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/font/Flaticon2.eot");
  src: url("../fonts/flaticon/font/Flaticon2.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/font/Flaticon2.woff") format("woff"),
       url("../fonts/flaticon/font/Flaticon2.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon2.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon2.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-tailor:before { content: "\f100"; }
.flaticon-content:before { content: "\f101"; }
.flaticon-dive:before { content: "\f102"; }
.flaticon-smartphone:before { content: "\f103"; }